* {
	box-sizing: border-box;
}

html {
	height: 100%;
	background-color: #282a2c;
	overflow-x: hidden;
	font-family: 'Kanit', sans-serif;
	scroll-behavior: smooth;
  }

/*--------Anchor Area --------*/
a.anchor {
    display: block;
    position: relative;
    top: 20px;
    visibility: hidden;
}

#exploreNewPlacesAnchor {
    top: -40px;
}

a {
	text-decoration: none;
	color: #30639A;
}

a:hover, a:focus {	
	color: #97A8BD;
}
/* ---------------Nav Bar----------------- */
.navBar {
  	position: fixed;
  	display: flex;
  	height: 40px;
  	width: 100%;
  	justify-content: flex-end;
  	top: 0;
  	color: #30639A;
  	z-index: 1;
}

.navbar ul a li {
	padding-top: 5px;
}

#nav-icon {
	order: 1;
	width: 45px;
	height: 25px;
	position: relative;
	align-self: center;	
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
} 

#nav-icon {
  	display: flex;  	
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 30%;
    background: #E2E7EB;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);  
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon:hover span {
	background-color: #97A8BD;
}
#nav-icon:hover + .menuWordText   {
	color: #97A8BD;
	transition: color .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
    left: 30%;
    border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
    top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
    top: 10px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
    top: 20px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
    left: 2px;
    top: 6px;
}

#nav-icon.open span:nth-child(2) {
    left: calc(50% - 12px);
    top: 6px;
}

#nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon.open span:nth-child(5) {
    left: 2px;
    top: 15px;
}

#nav-icon.open span:nth-child(6) {
    left: calc(50% - 12px);
    top: 15px;
}

.enjoyTheCold:hover {
  animation: shake 0.3s;
  animation-iteration-count: .1s;
  cursor: none;
}

@keyframes shake {
  0% { transform: translate(.5px, .5px) rotate(0deg); }
  10% { transform: translate(-.5px, -1px) rotate(-.5deg); }
  20% { transform: translate(-1.5px, 0px) rotate(.5deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(.5px, -.5px) rotate(.5deg); }
  50% { transform: translate(-.5px, 1px) rotate(-.5deg); }
  60% { transform: translate(-1.5px, .5px) rotate(0deg); }
  70% { transform: translate(1.5px, .5px) rotate(-.5deg); }
  80% { transform: translate(-.5px, -.5px) rotate(.5deg); }
  90% { transform: translate(.5px, 1px) rotate(0deg); }
  100% { transform: translate(.5px, -1px) rotate(-.5deg); }
}

.menuWordText {
	color: #E2E7EB;
	font-weight: bold;
	align-self: center;
	margin-right: .7rem;
	font-size: 20px;
	transition: color .5s;
}

.enjoyTheCold {
	display: inline-block;
	font-size: 38px;
	font-style: italic;
	color: #E2E7EB;
	align-self: center;
	margin-right: auto; 
	margin-left: 0.5em;
}

.menuDropdown {
	border: 1px solid #30639A;
	border-radius: 5px;
	background-color: transparent;
	position: absolute;
	list-style-type: none;
	transform: translate3d(20rem, 8rem, 0);
	transition: all .25s cubic-bezier(.47,-0.78,1,-0.59);
	overflow: hidden;
}

.menuDropdown.hideMenuDropdown {
	transform: translate3d(0, 2.5rem,0);
	transition: all .27s cubic-bezier(0,1.8,.36,1.55);
}

ul.menuDropdown {
	border: 0;
}

.menuDropdown li {
	text-align: center;
	display: block;
	border-radius: 77% 23% 56% 44% / 61% 61% 39% 39%;
	background-color: #E2E7EB;
	/* border: 0.5px solid #30639A; */
	width: 10rem;
	margin-bottom: ;
}

/*----------Hero Image------------*/

.heroImage {
  	position: relative;
  	width: 100vw;
  	height: 100vh;
  	background: url("../images/hero-cold-mountain.jpg") no-repeat #222;
  	background-size: cover;
  	background-position: center top;
}

.h1TitleStyles {
	font-size: calc(22px + (100 - 26) * ((100vw - 300px) / (1600 - 300)));
	color: #E2E7EB;
	-moz-text-stroke-color: #E2E7EB;
    -webkit-text-stroke-color: #E2E7EB;	
    -moz-text-stroke-width: 1px;  
    -webkit-text-stroke-width: 1px;
    white-space: nowrap;
    color: rgba(21, 36, 61, 0.1);
}

.heroImageText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	color: #15243D;
	-moz-text-stroke-color: #15243D;
    -webkit-text-stroke-color: #15243D;
}

h1 span {
	color: rgba(21, 36, 61, 0.1);
	-moz-text-stroke-color: #15243D;
    -webkit-text-stroke-color: #15243D;
    -moz-text-stroke-width: 2px;  
    -webkit-text-stroke-width: 2px;
}

.sectionTitlesText {
	position: relative;
	text-align: center;
	margin-top: 4rem ;
	font-size: calc(16px + (100 - 58) * ((100vw - 300px) / (1600 - 300)));
}

.sectionTitlesText span {
	color: rgba(226, 231, 235, 1);
	-moz-text-stroke-width: 0;  
    -webkit-text-stroke-width: 0;
}

/*--------General Styles--------*/

.afterHeroBodyArea {
	width: 80%;
	margin: 0 auto;
}

/* ----------Keep Cool Text Container-------------*/

.keepCoolTxtContainer {
	position: relative;
	margin-top: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #E2E7EB;
	font-size: .9rem;
	text-align: right;
}

.keepCoolTxtContainer span {
	margin-left: 2rem;
}

.containerLine {
	content: '';
	width: 2px;
	height: 3rem;
	background-color: #E2E7EB;
	margin-right: 6rem;
}

/* --First Picture Grid-- */

.grid-container1 {
  width: 90%; 
  height: 500px;
  display: grid;
  margin: 0 auto;
  margin-top: 3rem;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "topPicture topPicture rightPicture" 
  					   "bottomLeftPicture middlePicture rightPicture";
}

.topPicture1 { 
	grid-area: topPicture;
	background: url("../images/grid-images/first-grid-picture-images/top-picture1.jpg"); 
	background-repeat: no-repeat;
	background-size: cover; 
	background-color: pink;
	width: 100%;
}

.bottomLeftPicture1 { 
	grid-area: bottomLeftPicture; 
	background: url("../images/grid-images/first-grid-picture-images/bottom-left-picture1.jpg"); 
	background-repeat: no-repeat;
	background-size: cover; 
	background-color: green; 
	height: 100%; 
	width: 100%; 
}

.middlePicture1 { 
	grid-area: middlePicture;
	background: url("../images/grid-images/first-grid-picture-images/middle-picture1.jpg"); 
	background-repeat: no-repeat;
	background-size: cover; 
	background-color: red; 
	height: 100%; 
	width: 100%; 
}

.rightPicture1 { 
	grid-area: rightPicture;
	background: url("../images/grid-images/first-grid-picture-images/right-picture1.jpg");
	background-repeat: no-repeat;
	background-size: cover;  
	background-color: green; 
	height: 100%; 
	width: 100%; 
}


/*---------Love Travel Text Area--------*/

.loveTravelTxtContainer{
	position: relative;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	align-items: flex-start ;
	color: #E2E7EB;
	font-size: .9rem;
	text-align: right;
}

.loveTravelTxtContainer p {
	text-align: left;	
}

.loveAlignment {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	transform: translateX(16%);
}

.loveTravelLine {
	margin-top: .5rem ;
	content: '';
	align-self: stretch;
	height: calc(8rem + (100 - 28) * ((100vw - 300px) / (1600 - 300)));; 
	margin-right: 3rem;
}

.loveTravelText { 
	position: relative;
	text-align: left;
	margin-bottom: 1rem;
	font-size: calc(16px + (100 - 58) * ((100vw - 300px) / (1600 - 300)));
		
}

.loveTravelText span {
	color: rgba(226, 231, 235, 1);
	-moz-text-stroke-width: 0;  
    -webkit-text-stroke-width: 0;
    margin-left: 0;
    margin-left: 0;
}

/*---------Wide Image--------*/

.wideImadeContiner {
	margin: 4rem auto;	
	background: url("../images/wide-angle-mountainscape.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #97A8BD;
	height: 250px;
	width: 90%;

}

/*---------Explore Your Path Container--------*/

.explorePathTxtContainer {
	position: relative;
	margin: 0 auto;
	margin-top: 3em;
	color: #E2E7EB;
	font-size: .9rem;
	text-align: right;
}

.innerExplorePathTxtContainer {
	margin-top: 1rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	max-width: 320px;
	align-items:center;
	text-align: left;
}

.explorePathTxtContainer h3 {
	margin: 1rem auto;
	max-width: 450px;
	text-align: center;
	font-size: 1.1rem;
}

.exploreYourPathContainerLine {
	content: '';
	width: 3px;
	height: 3rem;
	background-color: #E2E7EB;
	margin-right: 3rem;
}

/*---------Second Picture Grid--------*/

.grid-container2 {
  width: 90%; 
  height: 500px;
  display: grid;
  margin: 0 auto;
  margin-top: 3rem;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "leftPicture topMiddlePicture topRightPicture" 
  					   "leftPicture bottomPicture bottomPicture";
}

.leftPicture2 { 
	grid-area: leftPicture;
	background: url("../images/grid-images/second-grid-picture-images/left-picture2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: green; 
	height: 100%; 
	width: 100%;
}

.bottomPicture2 { 
	grid-area: bottomPicture;
	background: url("../images/grid-images/second-grid-picture-images/bottom-picture2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	background-color: pink; 
	height: 100%; 
	width: 100%; 
}

.topMiddlePicture2 { 
	grid-area: topMiddlePicture;
	background: url("../images/grid-images/second-grid-picture-images/top-middle-picture2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: red; 
	height: 100%; 
	width: 100%; 
}

.topRightPicture2 { 
	grid-area: topRightPicture;
	background: url("../images/grid-images/second-grid-picture-images/top-right-picture2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	background-color: green; 
	height: 100%; 
	width: 100%; 
}

/*---------Find Your Cool Section--------*/

.keepCoolTxtContainer ul {
	margin-top: .4rem;
}

.keepCoolTxtContainer li {	
	margin-bottom: 0.6rem;	
}

.locatioIcons li {
	font-size: 1.1rem;
	text-align: center;
	margin-right: 1rem;
}

.locationList li {
	font-size: .9rem;
	line-height: 1.2rem;
	text-align: left;
}

.locationLine {
	margin-right: 4rem;
	height: 4.5rem;
}

/*---------Footer--------*/


footer {
	margin-top: 4rem;
	width: 100%;
	height: 3rem;
	background: repeating-linear-gradient(
	  -55deg,
	  #282a2c,
	  #555 2px,
	  #282a2c 3px,
	  #282a2c 6px
	);
	display: flex;
	align-items: center;
}

footer a .fa-twitter,
footer a .fa-youtube,
footer a .fa-instagram,
footer a .fa-tumblr-square {
	margin-left: .8rem;
	color: #E2E7EB;
	font-size: 1.3rem;
	transition: color .7s ease;
}

.fa-twitter:hover,
.fa-youtube:hover, 
.fa-instagram:hover, 
.fa-tumblr-square:hover,
a:focus .fa-twitter, 
a:focus .fa-youtube, 
a:focus .fa-instagram, 
a:focus .fa-tumblr-square {
	color: #4484BC;
	transition: color .2s ease;
}

a {
	outline: none;
}

footer :nth-child(5) {
	margin-left: auto;
}

footer :last-child {
	margin-right: 1rem;
	text-align: right;
	color: #E2E7EB ;
	font-size: .8rem;
}